body {
  .App {
    text-align: center;
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #073761;
      width: 100vw;
      height: 6.5rem;
      color: white;
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 0.5rem;
        img {
          width: 3rem;
          height: 3rem;
        }
      }
      .navbar {
        display: flex;
        justify-content: center;
        gap: 0.8rem;
        margin-bottom: 0.7rem;
        a {
          text-decoration: none;
          font-size: 1rem;
          color: #e0cdaa;
        }
        :hover {
          color: white;
          box-shadow: #e0cdaa;
        }
      }
    }
    .login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .formCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25rem;
        gap: 0.5rem;
        input {
          border-bottom: 1px solid black;
        }
        .btnLogin {
          width: 5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768) {
}

@media screen and (max-width: 1024) {
}
